.header {
  width: min(calc(100% - 24px), 1600px);
  padding: 40px 12px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  gap: 20px;

  .logo, .logo-text {
    img {
      height: 100px;
    }
  }

  @media screen and (max-width: 900px) {
    .logo, .logo-text {
      img {
        height: 70px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    width: 100%;
  }
}

