.countries-search {
  width: min(calc(100% - 24px), 1600px);
  padding: 20px 12px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .search {
    width: 170px;
  }

  .search-countries {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
