.text-field {
  box-sizing: border-box;
  border-bottom: 1px dashed #28536b;
  display: flex;
  height: 28px;
  padding: 0 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  width: 100px;

  .text-field-input {
    all: unset;
    height: 100%;
    width: 100%;

    &::placeholder {
      color: #747b83;
    }
  }
}
