.summary {
  display: flex;
  position: relative;
  width: min(calc(100% - 24px), 1600px);
  margin: 0 auto 20px;
  border-bottom: 1px solid #d2ddec;
  padding-bottom: 20px;
  padding-top: 20px;

  &.drag-in-progress {
    border-color: transparent;
  }

  .summary-element {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-left: 10px;

    .metric {
      font-size: 66px;
      font-weight: bold;
      border-bottom: 1px solid #747b83;
      padding: 10px;
      color: #28536b;
    }

    .description {
      padding: 10px;
      color: #747b85;
    }
  }

  .all-visited-countries {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-top: auto;
    margin-right: 10px;
  }
}

@media screen and (max-width: 900px) {
  .summary {
    width: 100%;
    flex-direction: column;

    .summary-element {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
