.summary {
  display: flex;
  position: relative;
  width: min(calc(100% - 24px), 1600px);
  margin: 20px auto 20px;
  border-bottom: 1px solid #d2ddec;
  border-top: 1px solid #d2ddec;
  padding-bottom: 20px;
  padding-top: 20px;

  &.drag-in-progress {
    border-color: transparent;
  }

  .trash-overlay {
    position: absolute;
    width: min(calc(100% - 24px), 1600px);
    height: calc(100% - 20px);
    border: 1px dashed #bfa9a9;
    background: radial-gradient(1124px 720px at 0% 0%, #d5d1d8 0%, rgba(222, 231, 248, 0) 100%) no-repeat fixed, rgb(255, 255, 255);

    &.over {
      border: 1px dashed red;

      .text {
        color: red;
      }
    }

    .text {
      font-size: 24px;
      color: #747b85;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  .summary-element {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-left: 10px;

    .metric {
      font-size: 66px;
      font-weight: bold;
      border-bottom: 1px solid #747b83;
      padding: 10px;
    }

    .description {
      padding: 10px;
      color: #747b85;
    }
  }

  .all-visited-countries {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: auto;
    margin-right: 10px;
  }
}

@media screen and (max-width: 900px) {
  .summary {
    width: 100%;
  }
}
