.countries-search {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 8px;
  flex: 1;
  overflow: hidden;
  padding-bottom: 16px;

  .search-results {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #d2ddec white;
    padding-right: 4px;

    &.hidden {
      visibility: hidden;
    }
  }
}
