@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #d2ddec white;
}

.folded-card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
  width: 1.73em;
  height: 3em;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom right;
  border-bottom-left-radius: inherit;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}

.main-bg {
  @apply bg-custom-radial bg-fixed bg-white;
}

.main-animation {
  @apply transition-all duration-100 ease-linear;
}

@layer components {
  .btn-primary {
    @apply text-white bg-base-blue border border-main-border hover:bg-base-blue-hover;
  }

  .btn-small {
    @apply h-11 rounded-lg p-4;

    .content {
      @apply gap-1;

      .icon {
        @apply text-sm;
      }

      .label {
        @apply font-normal text-base;
      }
    }
  }

  .label-secondary {
    @apply text-secondary-text bg-secondary hover:bg-secondary-hover
  }

  .label-primary {
    @apply text-base-blue bg-light-blue hover:bg-light-blue-hover
  }

  .label-success {
    @apply text-success-text bg-success hover:bg-success-hover
  }
}

