.year-container, .empty-cell {
  padding: 10px;
  display: flex;
  min-width: 280px;
  min-height: 100px;
  flex-direction: column;
  position: relative;
  background: radial-gradient(1124px 720px at 0% 0%, #dee7ef 0%, white 100%) no-repeat fixed, white;

  &.over {
    background: #d5d1d8;
  }

  .year-info {
    display: flex;
    margin-bottom: 10px;

    .edit {
      margin-left: 10px;
    }

    .year, .counter {
      font-size: 20px;
      font-weight: bold;
      width: 50px;
    }

    .counter {
      align-self: flex-end;
      margin-left: auto;
      color: #747b85;

      .success {
        color: #28536b;
      }

      .secondary {
        color: #7ea8be;
      }
    }
  }

  .year-countries {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 900px) {
  .year-container, .empty-cell {
    min-height: unset;
  }
}
