.year-field {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &.year-field-small {
    border: 1px solid #d2ddec;
    background: white;
    border-radius: 4px;
    display: flex;
    height: 36px;
    padding: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }

  .year-field-input {
    all: unset;
    height: 100%;
    width: 100%;

    &::placeholder {
      color: #747b83;
    }
  }
}
