.x-button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;

  .content {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .label {
    white-space: nowrap;
    cursor: pointer;
  }

  &.x-button-small {
    height: 42px;
    border-radius: 4px;
    padding: 8px;

    .content {
      gap: 4px;

      .icon {
        font-size: 8px;
      }

      .label {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  &.primary {
    color: white;
    background: #244a60;
    border-color: #8ea7b8;

    &:hover,
    &:focus-visible {
      background: #2a5470;
    }
  }
}
