.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  border-radius: 4px;
  height: 26px;
  width: max-content;
  white-space: nowrap;

  &.grabbable {
    &:hover {
      cursor: grab;
    }
  }


  .flag {
    width: 24px;
    height: 18px;
    border-radius: 4px;
    margin-left: 4px;
  }

  .text {
    padding: 2px 6px 2px 4px;
  }

  svg {
    cursor: pointer;
    padding: 8px;
    border-radius: 0 4px 4px 0;

    &:hover {
      background: #DDEAFB;
    }
  }

  &.clickable {
    cursor: pointer;
  }

  &.secondary {
    color: #7ea8be;
    background: #dee7ef;

    &:hover {
      background: #cfd6df;
    }

    svg path {
      fill: #7ea8be
    }
  }

  &.primary {
    color: #28536b;
    background: #abc8db;

    &:hover {
      background: #b6d7ea;
    }

    svg path {
      fill: #28536b
    }
  }
}
