.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  border-radius: 4px;
  width: fit-content;
  white-space: nowrap;
  touch-action: none;
  padding: 4px;
  cursor: default;

  &.grabbable {
    &:hover {
      cursor: grab;
    }
  }

  .flag {
    width: 24px;
    min-width: 24px;
    height: 18px;
    border-radius: 4px;
  }

  .text {
    padding-left: 4px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
  }

  svg {
    cursor: pointer;
    padding: 8px;
    border-radius: 0 4px 4px 0;

    &:hover {
      background: #DDEAFB;
    }
  }

  &.secondary {
    color: #7ea8be;
    background: #dee7ef;

    &:hover {
      background: #cfd6df;
    }

    svg path {
      fill: #7ea8be
    }
  }

  &.primary {
    color: #28536b;
    background: #abc8db;

    &:hover {
      background: #b6d7ea;
    }

    svg path {
      fill: #28536b
    }
  }

  &.success {
    color: #393939;
    background: #75c17c;

    &:hover {
      background: #86db8d;
    }

    svg path {
      fill: #28536b
    }
  }
}
