.pp-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(1px); /* Background blur */
  z-index: 1000; /* Ensure it appears above other elements */

  .pp-modal {
    background: radial-gradient(#dee7ef 0%, white 100%) no-repeat fixed, white;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;

    .pp-modal-header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .modal-title {
        color: #28536b;
        font-weight: bold;
        flex: 1;
        font-size: 22px;
      }

      .modal-description {
        margin-top: 8px;
      }

      .close-button {
        padding: 6px;
        border-radius: 50%;
        text-align: center;
        margin-left: auto;
        position: relative;
        right: -10px;
        top: -10px;

        svg {
          width: 22px;
          height: 22px;
          min-width: 22px;
          min-height: 22px;
        }

        &:hover {
          background: #ABC8DBC1;
          cursor: pointer;
        }
      }
    }

    .pp-modal-footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }
}

