.summary {
  display: flex;
  width: 90%;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #747b83;
  gap: 16px;

  .summary-element {
    display: flex;
    flex-direction: column;

    .metric {
      font-size: 66px;
      font-weight: bold;
      border-bottom: 1px solid #747b83;
      padding: 10px;
    }

    .description {
      padding: 10px;
      color: #747b85;
    }
  }

  .all-visited-countries {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-top: auto;
  }
}
