.year-container,.empty-cell {
  padding: 10px;
  display: flex;
  min-width: 230px;
  min-height: 100px;
  flex-direction: column;
  position: relative;
  background: radial-gradient(1124px 720px at 0% 0%, #d5d1d8 0%, rgba(222, 231, 248, 0) 100%) no-repeat fixed, rgb(255, 255, 255);

  .year-info {
    display: flex;

    .year, .counter {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .counter {
      align-self: flex-end;
      margin-left: auto;
      color: #747b85;

      .success {
        color: #5dd39e;
      }

      .secondary {
        color: #7ea8be;
      }
    }
  }

  .year-countries {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
  }
}
