.navbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 56px;
  margin: 4px;
  box-sizing: border-box;
  padding: 16px 4px;
  border-radius: 4px;
  background: linear-gradient(rgba(171, 200, 219, 0.76) 0%, rgb(255, 255, 255) 100%);
  gap: 4px;
  backdrop-filter: blur(8px);
  z-index: 3;
  transition: all .1s linear;

  .trash-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 56px;
    background: linear-gradient(rgba(239, 222, 229, 1) 0%, rgb(255, 255, 255) 100%);
    backdrop-filter: blur(8px);
    border-radius: 4px;
    z-index: 9999;

    &.over {
      background: linear-gradient(rgb(187, 128, 128) 0%, rgb(255, 255, 255) 100%);
    }

    .text {
      position: absolute;
      justify-content: center;
      text-align: center;
      font-size: 24px;
      color: #B66C6CFF;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.expanded {
    width: 256px;
    padding: 32px 4px;

    .trash-overlay {
      width: 256px;

      .text {
        display: block;
      }
    }
  }

  .close {
    margin-top: auto;
  }

  .menu-item {
    height: 48px;
    border-radius: 25%;
    cursor: pointer;

    .menu-item-desc {
      display: none;
      position: absolute;
      left: 60px;
      width: 90px;
      background: #12263f;
      padding: 8px;
      color: white;
      border-radius: 10px;
      text-align: center;
      z-index: 9999;
      opacity: 0.8;
    }

    &:hover {
      background: #ABC8DBC1;

      .menu-item-desc {
        display: block;
      }
    }
  }

  .logo-only, .add-more, .close, .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      height: 48px;
      transform: rotate(7deg);
      cursor: pointer;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }

  .header, .logo-only {
    margin-bottom: 28px;
  }
}
